* {
    box-sizing: border-box;
    text-align: center;
}

body {
    margin: 60px 20px ;
    font-family: Montserrat;
    background-color: #FAFAFA;
}

h1 {
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 10px;
}

hr {
    margin-bottom: 30px;
}

p {
    font-size: 16px;
    color: #8B8B8B;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 460px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 16px;
    margin-top: 60px;
}

.button {
    font-size: 14px;
    color:#FFFFFF;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.advanture {
    background-color: #407BFF;
    padding: 11px 30px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.beach {
    background-color: #8B8B8B;
    padding: 11px 30px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.service, .service-d {
    border-color: black;
    border-style: solid;
    border:10px;
    background-color: white;
    margin-top: 15px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 6px #407BFF1F;
    border-radius: 10px;
}

.icon {
    padding: 20px 30px 20px 20px;
}

.text {
    text-align: left;
    font-size: 13px;
    color: #8B8B8B;
}

@media (min-width: 750px) {

    .button {
        flex-direction: row;
        justify-content: center;
    }
    
    .advanture {
        margin-right: 20px;
        margin-left: 0;
    }

    .beach {
        margin-left: 0;
        margin-right: 0;
    }

    .all-services, .all-services-d {
        display: flex;
        justify-content: space-around;
    }

    .service, .service-d {
        width: calc((100% - 80px)/3);
        display: block;
    }
    .text {
        padding: 20px 15px;
        text-align: center;
    }

    .icon {
        padding: 0;
        padding-top: 40px;
    }

    p {
        width: 550px;
    }

}

@media (min-width:1100px) {

    .pruh{
        max-width: 1040px;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .body {
        margin: 0;
        padding: 0;
    }

    .intro {
        display: flex;
        margin-bottom: 80px;
        /*align-items: center;*/
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    /*.intro p {
        margin: 0px
    }*/

    p {
        width: 490px;
    }

    .image {
        order: 2;
        margin-top: 60px;
        width: 490px;
    }

    .image img {
        width: 425px;
        
    }

    .choice {
        order: 1;
        width: 490px;
        align-items: center;
    }

    p, h1, h2  {
        text-align: left;
    }


    .button{
        justify-content: flex-start;
    }


    .service-box {
        display: flex;
        margin-bottom: 80px;
        width: 100%;
        align-items: center;
    }

    .service-text {
        order: 1;
        width:  430px;
        margin-left: 60px;
        margin-right: 0px;
    }

    .all-services {
        margin-right: 0px;
        justify-content: space-between;
    }

    .service-text-d {
        width:  430px;
        margin-right: 60px;
    }

    .all-services-d {
        margin-left: 0px;
        justify-content: space-between;
    }

    .service {
        width: calc((550px-40px)/2);
        
    }
   
    .service-d {
        width: calc((550px-40px)/2);
        
    }

    .service-text p{
        width:  430px;
    }

    .service-text-d p{
        width:  430px;
    }

}